.company-box,
.package-box {
  margin-bottom: 20px;
}

nz-form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

nz-form-label {
  overflow: visible;
}

.input-company,
.input-package,
.input-package-description {
  max-width: 250px;
  margin-right: 10px;
}

.label-company,
.label-package,
.label-package-description {
  color: var(--primary-color);
}

.download-label {
  position: relative;
}

.next-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
