<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="appeal-ai.ZPM">
    <Module>
      <Name>appeal-ai</Name>
      <Version>0.0.1</Version>
      <Description>Application for InterSystems FHIR and Digital Health Interoperability Contest</Description>
      <Keywords>FHIR</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Invokes>
        <Invoke Class="FHIR.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" ></Invoke>
      </Invokes>
      <Resource Name="FHIR.PKG"/>
    </Module>
  </Document>
</Export>
