<div class="page">
    <div class="container-page">
        <div class="steps-box">
            <nz-steps [nzSize]="'default'" [nzCurrent]="current">
                <nz-step nzTitle="Add company"></nz-step>
                <nz-step nzTitle="Add package" nzDisabled="!newCompany"></nz-step>
                <nz-step nzTitle="Finish" [nzDisabled]="!currentCompany && !newPackage"></nz-step>
            </nz-steps>

            @if(currentCompany?.name || companyName){
            <div class="item-header-box" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
                <div>The Insurance Company:</div>
                <div class="item-name-title">{{currentCompany?.name || companyName}}</div>
                <div class="delete-icon" (click)="deleteInfoItem('company')"></div>
            </div>
            }
            @if(newPackage?.name || packageName){
            <div class="item-header-box" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
                <div>The Insurance Package:</div>
                <div class="item-name-title">{{newPackage?.name || packageName}}</div>
                <div class="delete-icon" (click)="deleteInfoItem('package')"></div>
            </div>
            }

            @if (index===1 ) {
            <div class="steps-content">
                <app-create-company (createNewCompany)="createNewCompany.emit($event)" [companyName]="companyName" />
            </div>
            }

            @if (index===2) {
            <div class="steps-content">
                <app-create-package (createNewPackage)="createNewPackage.emit($event)" [packageName]="packageName" />
            </div>
            }

            @if (index===3) {
            <div class="steps-content">

                <div class="load-box">

                    <label for="inputLetter">
                        <div class="btn-download">Add Doc </div>
                        <input class="download-input" type="file" id="inputLetter" (change)="addPackageDoc($event)">
                    </label>
                </div>

                <div class="list-docs-item" id="listDocsItem" *ngIf="filename">
                    <div class="item-header-box">
                        <div nz-typography> Doc: </div>
                        <div class="item-name-title">{{ filename }}</div>
                        <div class="delete-icon" (click)="deleteInfoItem('letter')"></div>
                    </div>


                </div>

                <button class="load-box-btn" nz-button nzType="primary" (click)="downloadDocs()"
                    [disabled]="!newPackage && !filename">Upload</button>
            </div>
            <ng-container *ngIf="isUploadDoc">
                <div class="error-box-notification">
                    <app-upload-doc-message></app-upload-doc-message>
                </div>
            </ng-container>
            }

            <div class="steps-action">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>Previous</span>
                </button>
                <button nz-button nzType="default" (click)="next()" *ngIf="current < 2"
                    [disabled]="!companyName && !currentCompany?.id">
                    <span>Next</span>
                </button>

            </div>
        </div>
    </div>
</div>