.steps-box {
  position: relative;
  margin-bottom: 20px;
  height: 100%;
}

.cards-box {
  display: flex;
}

.steps-action {
  margin-top: 20px;
}

.ant-steps {
  margin-bottom: 30px;
}

.list-info-item {
  margin-bottom: 20px;
}

.item-name-title {
  margin-left: 10px;
  color: var(--primary-color);
  font-size: 18px;
  text-transform: capitalize;
}

.download-input {
  height: 50px;
}

.load-box {
  margin-bottom: 20px;
  cursor: pointer;

  &-btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.item-header-box .ant-card-body {
  padding: 10px !important;
}

.error-title {
  text-align: center;
  color: var(--warn-color);
  font-size: 10px;
}
