<div class="page">
    <div class="container-page">
        <div class="steps-box">
            <nz-steps [nzSize]="'default'" [nzCurrent]="current">
                <nz-step nzTitle="Company"></nz-step>
                <nz-step nzTitle="Package" nzDisabled="!newCompany"></nz-step>
                <nz-step nzTitle="Documents" [nzDisabled]="!currentCompany && !newPackage"></nz-step>
            </nz-steps>

            @if(currentCompany?.name || companyName){
            <div class="list-info-item" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
                <div>The Insurance Company:</div>
                <div class="item-name-title">{{currentCompany?.name || companyName}}</div>
                <div class="delete-icon" (click)="deleteInfoItem('company')"></div>
            </div>
            }
            @if(newPackage?.name || packageName){
            <div class="list-info-item" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
                <div>The Insurance Package:</div>
                <div class="item-name-title">{{newPackage?.name || packageName}}</div>
                <div class="delete-icon" (click)="deleteInfoItem('package')"></div>
            </div>
            }

            @if (index===1 ) {
            <div class="steps-content">
                First, we need to define an insurance company. You can choose one of existing companies or create a new
                one
                below.
                <app-create-company (createNewCompany)="createNewCompany.emit($event)" [companyName]="companyName" />
                <app-list-companies [companiesList]="companiesList" (selectCompany)="selectCompany.emit($event)"
                    (deleteCompany)="deleteCompany.emit($event)" />
            </div>
            }

            @if (index===2) {
            <div class="steps-content">
                Second, we need to define an insurance package. You can choose one of existing packages or create a
                new one below.
                <app-create-package (createNewPackage)="createNewPackage.emit($event)" [packageName]="packageName" />

                <app-list-packages [packagesList]="packagesList" (selectPackage)="selectPackage.emit($event)"
                    (deletePackage)="deletePackage.emit($event)" />
            </div>
            }
            @if (index===3) {
            <div class="steps-content">
                <div class="load-box" *ngIf="!isUploadDoc">
                    <label for="inputLetter" nz-tooltip nzTooltipTitle="adding an isurance contract"
                        nzTooltipColor="geekblue" nzTooltipPlacement="bottom">
                        <div class="btn-download">Add a contract </div>
                        <input class="download-input" type="file" id="inputLetter" (change)="addPackageDoc($event)"
                            [disabled]="!newPackage?.name && !packageName" />
                        <p class="error-title" *ngIf="!newPackage?.name && !packageName">first, add an insurance package
                        </p>
                    </label>
                </div>

                <div class="list-info-item" *ngIf="filename">
                    <div nz-typography> Doc: </div>
                    <div class="item-name-title">{{ filename }}</div>
                    <div class="delete-icon" (click)="deleteInfoItem('letter')"></div>
                </div>
                <button class="load-box-btn" nz-button nzType="primary" (click)="downloadDocs()"
                    [disabled]="!newPackage && !filename">Upload</button>
            </div>
            <ng-container *ngIf="isUploadDoc">
                <div class="error-box-notification">
                    <app-upload-doc-message></app-upload-doc-message>
                </div>
            </ng-container>
            }
            <div class="steps-action">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>Previous</span>
                </button>
                <button nz-button nzType="primary" (click)="next()" *ngIf="current < 2"
                    [disabled]="!companyName && !currentCompany?.id">
                    <span>Next</span>
                </button>

            </div>
        </div>
    </div>
</div>