.steps-box {
  position: relative;
  margin-bottom: 20px;
  height: 100%;
}

.steps-action {
  position: absolute;
  bottom: 10px;
}

.ant-steps {
  margin-bottom: 30px;
}

.item-header-box {
  display: flex;

  &:nth-child(3) {
    margin-bottom: 20px;
  }
}

.item-name-title {
  margin-left: 10px;
  color: var(--primary-color);
  font-size: 18px;
  text-transform: capitalize;
}

.doc-title {
  margin-bottom: 20px;
}

.download-input {
  height: 50px;
}

.load-box {
  margin-bottom: 20px;
  cursor: pointer;

  &-btn {
    display: flex;
    margin: 0 auto;
  }
}
