<div class="page">
    <div class="container-page">
        <p>On this page, you can see the AI Attorney in action. First, you choose an insurance company and a policy you
            set up on a previous step. Then, you upload an isurance denial letter and wait for your appeal to be
            generated.
        </p>

        <form nz-form class="form" [nzLayout]="'vertical'" [formGroup]="documentsForm">
            <div class="form-box" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">

                <div class="left-side">
                    <nz-form-item>
                        <nz-select nzPlaceHolder="Select an insurance company" nzAllowClear formControlName="company"
                            (ngModelChange)="selectCompany($event)">
                            <nz-option *ngFor=" let org of listInsuranceOrg" [nzValue]="org"
                                [nzLabel]="org.name"></nz-option>
                        </nz-select>
                        <div class="create-obj-box">
                            <span>Didn't find the company? </span>
                            <a class="link-text" routerLink="/start" [queryParams]="{ upload: true }">
                                Create a new one</a>
                        </div>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-select nzPlaceHolder="Select insurance packages" nzAllowClear formControlName="package"
                            [nzDisabled]="!currentCompany?.id" (nzOpenChange)="selectPackage($event)">
                            <nz-option *ngFor="let package of packagesList" [nzValue]="package"
                                [nzLabel]="package.name"></nz-option>
                        </nz-select>
                        <div class="create-obj-box">
                            <span>Didn't find the package? </span>
                            <a class="link-text" routerLink="/start" [queryParams]="{ upload: true }">
                                Create a new one
                            </a>
                        </div>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-select nzShowSearch nzServerSearch nzPlaceHolder="patient ID" formControlName="patientID"
                            [nzDisabled]="!documentsForm.value.package" nzAllowClear [nzShowArrow]="false"
                            [nzFilterOption]="nzFilterOption" (nzOnSearch)="searchPatient($event)">
                            <nz-option *ngFor="let o of filteredPeople" [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
                        </nz-select>
                        <div class="create-obj-box">
                            <span>Current patient </span>
                        </div>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-select nzShowSearch nzServerSearch nzPlaceHolder="patient's visit"
                            formControlName="patientEncounter" nzAllowClear [nzShowArrow]="false"
                            [nzFilterOption]="nzFilterOption" (ngModelChange)="searchEncounter($event)"
                            [nzDisabled]="!documentsForm.value.patientID" nzCustomContent="true">
                            <nz-option *ngFor="let encounters of listPatientEncounters" [nzValue]="encounters.id"
                                nzCustomContent="true"
                                [nzLabel]="encounters.period.end |  date:'medium'">{{encounters.type | truncate:15}} -
                                {{encounters.period.start | date:'short'}}</nz-option>
                        </nz-select>
                        <div class="create-obj-box">
                            <span>Visit by patient </span>
                        </div>
                    </nz-form-item>
                </div>
                <div class="list-docs-box" *ngIf="documentsForm.value.company  || documentsForm.value?.package">
                    <div class="right-side">
                        <nz-form-item class="nz-form-item-download download" nz-button nzType="primary"
                            *ngIf="documentsForm.value.package">
                            <textarea class="textarea" nz-input placeholder="Enter your denial letter text" nzAutosize
                                formControlName="text" type="text"></textarea>
                            <div class="btn-box" nz-flex [nzAlign]="'center'">
                                <button class="btn-submit" type="submit" nz-button nzType="primary"
                                    [disabled]="!documentsForm.valid" (click)="submitForm()">
                                    Search
                                </button>
                            </div>
                        </nz-form-item>
                    </div>
                    <div *ngIf="documentsForm.value.package">

                        <app-list-documents [documentsList]="documentsList"
                            (deleteDocument)="deleteDocument.emit($event)" />
                        @if(documentsList?.length ==0){
                        <div class="create-obj-box">
                            <a class="link-text" routerLink="/start" [queryParams]="{ upload: true }" nz-button
                                nz-tooltip nzTooltipTitle="Add an insurance agreement" nzTooltipColor="red">
                                Upload
                            </a>
                        </div>
                        }
                        <nz-collapse>
                            <nz-collapse-panel nzHeader="Letters of denial" nzActive="false">
                                <app-list-denial-letters [listDenialLetters]="listDenialLetters"
                                    (deleteLetter)="deleteLetter.emit($event)" />
                            </nz-collapse-panel>
                        </nz-collapse>
                        <nz-collapse>
                            <nz-collapse-panel nzHeader="Appeal list" nzActive="false">
                                <app-list-answer-ai [listAnswersAI]="listAnswersAI"
                                    (deleteAnswerAI)="deleteAnswerAI.emit($event)" />
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </div>


                <p class="all-lists-title">Additionally, you will find all previous denial letters and appeal templates:

                </p>

                <nz-collapse>
                    <nz-collapse-panel nzHeader="All list of denial letters" nzActive="false">
                        <app-list-denial-letters [listDenialLetters]="listALLDenialLetters"
                            (deleteLetter)="deleteLetter.emit($event)" />
                    </nz-collapse-panel>
                </nz-collapse>
                <nz-collapse>
                    <nz-collapse-panel nzHeader="All list of appeal letters" nzActive="false">
                        <app-list-answer-ai [listAnswersAI]="listALLAnswersAI"
                            (deleteAnswerAI)="deleteAnswerAI.emit($event)" />
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
        </form>
    </div>
</div>