<div class="page">
    <div class="container-page">
        <nz-page-header-subtitle class="title" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">Load a
            letter</nz-page-header-subtitle>

        <form nz-form class="form" [nzLayout]="'vertical'" [formGroup]="documentsForm">
            <div class="form-box" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select an insurance company" nzAllowClear formControlName="company"
                        (ngModelChange)="selectCompany($event)">
                        <nz-option *ngFor=" let org of listInsuranceOrg" [nzValue]="org"
                            [nzLabel]="org.name"></nz-option>
                    </nz-select>
                    <div class="create-obj-box">
                        <span>Didn't find the company? </span>
                        <a class="link-text" routerLink="/start">
                            Create a new one</a>
                    </div>
                </nz-form-item>
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select insurance packages" nzAllowClear formControlName="package"
                        [nzDisabled]="!currentCompany?.id" (nzOpenChange)="selectPackage($event)">
                        <nz-option *ngFor="let package of packagesList" [nzValue]="package.name"
                            [nzLabel]="package.name"></nz-option>
                    </nz-select>
                    <div class="create-obj-box">
                        <span>Didn't find the package? </span>
                        <a class="link-text" routerLink="/start">
                            Create a new one
                        </a>
                    </div>
                </nz-form-item>
                <nz-form-item class="download" nz-button nzType="primary">
                    <label for="inputLetter">
                        <div class="btn-download">Add a denial letter</div>
                        <input type="file" id="inputLetter" (change)="addLetter($event)">
                    </label>
                </nz-form-item>
            </div>

            <div class="list-docs-box" *ngIf="documentsForm.value.company  || documentsForm.value?.package || filename">
                <div class="list-info-item" *ngIf="documentsForm.value.company">
                    <div nz-typography>Company: </div>
                    <div class="list-info-item-name"> {{currentCompany?.name}}</div>
                    <div class="delete-icon" (click)="deleteInfoItem('company')"></div>
                </div>
                <div class="list-info-item" *ngIf="documentsForm.value.package">
                    <div nz-typography> Package: </div>
                    <div class="list-info-item-name">{{documentsForm.value.package}} </div>
                    <div class="delete-icon" (click)="deleteInfoItem('package')"></div>
                </div>
                <div *ngIf="documentsForm.value.package">
                    <app-list-documents [listDocsForPackage]="listDocsForPackage" />
                </div>
                <div class="list-info-item" *ngIf="filename !== null">
                    <div nz-typography> Letter: </div>
                    <div class="list-docs-item-name"> {{filename }}</div>
                    <div class="delete-icon" (click)="deleteInfoItem('letter')"></div>
                </div>
            </div>
            <div class="btn-box" nz-flex [nzAlign]="'center'">
                <button class="btn-submit" type="submit" nz-button nzType="primary"
                    [disabled]="!documentsForm.valid || !filename" (click)="submitForm()">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>