.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &-box {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    gap: 20px !important;
  }
}

.title {
  margin-bottom: 20px;
}

nz-select {
  width: 250px;
}

nz-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px !important;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.btn-submit {
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 270px;
}

.btn-title.dragover {
  background-color: #aaa;
}

.list-docs-box {
  margin: 0 auto;
  width: 100%;
}

.list-info-item {
  &-name {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
  }
}

/**/
.dialog-contauner {
  position: absolute;
  bottom: 100px;
}
