<div class="page">
    <div class="container-page">
        <p>On this page, you can see the AI Attorney in action. First, you choose an insurance company and a policy you
            set up on a previous step. Then, you upload an isurance denial letter and wait for your appeal to be
            generated.
        </p>

        <form nz-form class="form" [nzLayout]="'vertical'" [formGroup]="documentsForm">
            <div class="form-box" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select an insurance company" nzAllowClear formControlName="company"
                        (ngModelChange)="selectCompany($event)">
                        <nz-option *ngFor=" let org of listInsuranceOrg" [nzValue]="org"
                            [nzLabel]="org.name"></nz-option>
                    </nz-select>
                    <div class="create-obj-box">
                        <span>Didn't find the company? </span>
                        <a class="link-text" routerLink="/start">
                            Create a new one</a>
                    </div>
                </nz-form-item>
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select insurance packages" nzAllowClear formControlName="package"
                        [nzDisabled]="!currentCompany?.id" (nzOpenChange)="selectPackage($event)">
                        <nz-option *ngFor="let package of packagesList" [nzValue]="package"
                            [nzLabel]="package.name"></nz-option>
                    </nz-select>
                    <div class="create-obj-box">
                        <span>Didn't find the package? </span>
                        <a class="link-text" routerLink="/start">
                            Create a new one
                        </a>
                    </div>
                </nz-form-item>
                <nz-form-item class="download" nz-button nzType="primary" *ngIf="documentsForm.value.package">
                    <textarea nz-input placeholder="Enter your denial letter text" nzAutosize formControlName="text"
                        type="text"></textarea>
                    <div class="btn-box" nz-flex [nzAlign]="'center'">
                        <button class="btn-submit" type="submit" nz-button nzType="primary"
                            [disabled]="!documentsForm.valid" (click)="submitForm()">
                            Search
                        </button>
                    </div>
                </nz-form-item>
            </div>
            <div class="list-docs-box" *ngIf="documentsForm.value.company  || documentsForm.value?.package">
                <div class="list-info-item" *ngIf="documentsForm.value.company">
                    <div nz-typography>Company: </div>
                    <div class="list-info-item-name"> {{currentCompany?.name}}</div>
                    <div class="delete-icon" (click)="deleteInfoItem('company')"></div>
                </div>
                <div class="list-info-item" *ngIf="documentsForm.value.package">
                    <div nz-typography> Package: </div>
                    <div class="list-info-item-name">{{packageName}} </div>
                    <div class="delete-icon" (click)="deleteInfoItem('package')"></div>
                </div>
                <div *ngIf="documentsForm.value.package">
                    <app-list-documents [listDocsForPackage]="listDocsForPackage"
                        (deleteDocument)="deleteDocument.emit($event)" />

                    <app-list-denial-letters [listDenialLetters]="listDenialLetters"
                        (deleteDocument)="deleteDocument.emit($event)" />
                </div>
            </div>


        </form>
    </div>
</div>