:root {
  --primary-color: #1890ff;
  --dark-bg-color: rgb(0 21 41);
  --gray-color: #3f3f3f6b;
  --light-font-color: #36a1dd;
  --disabled-color: #efefef;
  --white-color: #e3e2de;
  --milk-color: #ffffff;
  --warn-color: #f62b3b;
  --hover-primary-color: #096dd9;
}
