html {
  height: 100%;
}

.container-page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  height: 100%;
}

.sub-title {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
}

.download {
  display: flex;
  width: 270px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.btn-download {
  max-width: 50%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--disabled-color);
  border: 3px dotted var(--gray-color);
  border-radius: 10px;
}

/*adding org & package*/
.create-obj-box {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

.link-text {
  color: var(--primary-color);

  &:hover {
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
  }
}

/*popup*/
.cancel-btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url("../assets/close.svg") no-repeat;
  cursor: pointer;
}

.dialog-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  color: var(--dark-bg-color);
  font-weight: 600;
}

.dialog-container {
  max-width: 70%;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background: white;
  gap: 3px;
  box-shadow: rgba(24, 144, 255, 0.2) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.actions-popup-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/*upload*/

.list-docs-letter {
  max-width: 200px;
  display: inline-block;
  word-wrap: break-all;
  overflow: hidden;
}

.letter-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  align-self: flex-start;
}

.letter-title {
  display: flex;
  align-items: center;
}

.list-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 2px;
  max-width: 70%;
  border-bottom: 1px solid rgb(217 217 217);
}

.delete-icon {
  height: 20px;
  width: 20px;
  margin-left: auto;
  padding: 3px;
  border-radius: 2px;
  background: url("../assets/close.svg") no-repeat center;

  cursor: pointer;

  &:hover {
    box-shadow: rgba(24, 144, 255, 0.2) 0px 0px 0px 1px inset;
  }
}

.ant-layout-footer {
  padding: 10px 40px;
}

input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

nz-empty {
  margin: 5px !important;
}

.section {
  margin-bottom: 15px;
  text-align: justify;
}

@media screen and (max-width: 580px) {
  .list-info-item {
    min-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .dialog-container {
    max-width: 100%;
  }
}
