<nz-list nzItemLayout="horizontal">
    <nz-list nzBordered nzSize="small">

        @for (item of listAnswersAI; track item; let i = $index) {
        <nz-list-item>
            <div class="list-docs-item">
                <div nz-typography> <b>{{i+1}}).&nbsp;</b> <b><span *ngIf="isImpossibleAppeal(item.appeal)">It's
                            impossible appeal.</span>
                    </b> {{item.appeal}}
                </div>
                <div class="bottom-side-letter-cell">
                    <div nz-typography> {{ item.createdDateTime | date:"MMM dd, yy 'at' hh:mm a"}}</div>
                    <div class="delete-icon" (click)="clickDeleteAnswerAI(item)"></div>
                </div>
            </div>
        </nz-list-item>
        }
        @if (!listAnswersAI || listAnswersAI.length === 0) {
        <nz-list-empty />
        }
    </nz-list>