.list-docs-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
  min-width: 100%;

  &__idx {
    margin-right: 5px;
  }
}

@media screen and (max-width: 580px) {
  nz-list {
    min-width: 100%;
  }
}
