<div class="page">
    <div class="container-page">
        <div class="section">
            <h2>About Us</h2>
            <div>
                <p>Banksia Global is an international boutique consultancy headquartered in Sydney, Australia, providing
                    professional services for InterSystems technologies.
                    At Banksia Global we deliver full-cycle software development services to mid-size companies and
                    large
                    enterprises. Our team members have decades of experience building innovative solutions on
                    InterSystems
                    platforms.</p>
            </div>
            <div class="section">
                <h2>Our Services</h2>
                <ul>
                    <li><b>Development:</b> Full-Cycle Development services from a single module to complex software
                        systems, data migration projects, cloud migration, IRIS upgrades</li>
                    <li> <b>Integration: </b> Building interoperability between systems
                    </li>
                    <li><b> IRIS Adoption Accelerator: </b>
                        Our team will work with your specialists to help you set up for success in IRIS adoption. We
                        will bring and help you to adopt proven techniques in solution architecture, change control,
                        continuous integration/continuous delivery, automated testing, deployment, upgrades and support.
                        We are also an authorised training partner of InterSystems.
                    </li>
                    <li><b>Consulting:</b>
                        We have real-world experience and provide comprehensive consulting services for the whole range
                        of InterSystems products: IRIS, IRIS for Health, HealthShare Health Connect and TrakCare. We
                        will help you find the best solution for your needs.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2>Project Team:</h2>
            <p>This sample project was brought to you by:</p>
            <div>Backend: <a href="https://community.intersystems.com/user/maria-gladkova" target="_blank"><span
                        class="bold-item">Maria Gladkova</span></a> </div>
            <div>Backend: <a href="https://community.intersystems.com/user/maria-nesterenko" target="_blank"><span
                        class="bold-item">Maria Nesterenko</span></a> </div>
            <div>Frontend: <a href="https://community.intersystems.com/user/katsiaryna-shaustruk" target="_blank"><span
                        class="bold-item">Katsiaryna Shaustruk</span></a> </div>
            <div>QA / design:<a href="https://community.intersystems.com/user/alena-krasinskiene" target="_blank"><span
                        class="bold-item"> Alena Krasinskiene</span></a> </div>

        </div>
    </div>