<div class="page">
    <div class="container-page">
        <h2>We Are Experienced</h2>
        <div>Banksia Global was founded by Sergei Shutov, who has more than 10 years of experience as principal
            developer at
            InterSystems. Our expert consultants were involved in projects with many of InterSystems clients and
            partners.</div>
        <h2>We Are Certified</h2>
        <div>Banksia Global was founded by Sergei Shutov, who has more than 10 years of experience as principal
            developer at
            InterSystems. Our expert consultants were involved in projects with many of InterSystems clients and
            partners.</div>
    </div>
    ...
</div>