<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzBreakpoint]="'md'">
    <div class="sidebar-logo">
      <a href="https://community.intersystems.com/post/intersystems-vector-search-genai-and-ml-contest" target="_blank">
        <img src="assets/logo.png" alt="logo">
        <h1>AppealAI</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <ul>
        <li nz-menu-item>
          <a routerLink="welcome">Intro</a>
        </li>
        <li nz-menu-item>
          <a routerLink="/start">Setup</a>
        </li>
        <li nz-menu-item>
          <a routerLink="/letter">Run</a>
        </li>
        <!-- <li nz-menu-item>
          <a routerLink="/answer">AI</a>
        </li> -->
        <li nz-menu-item>
          <a routerLink="/about">About Us</a>
        </li>
      </ul>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header class="vertical-header-var">
      <div class="app-header" nz-flex [nzAlign]="'center'">
        <div class="header-title" nz-flex>
          <div class="logo-title"></div>
          <div class="description-logo">
            by
          </div>
          <div class="logo-bg"></div>
        </div>
      </div>
    </nz-header>
    <nz-header class="horizontal-header-var" nz-flex nzJustify="space-between">

      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item><a routerLink="welcome">Intro</a></li>
        <li nz-menu-item> <a routerLink="/start">Setup</a></li>
        <li nz-menu-item> <a routerLink="/letter">Run</a></li>
        <!-- <li nz-menu-item>
          <a routerLink="/answer">AI</a>
        </li> -->
        <li nz-menu-item> <a routerLink="/about">About Us</a></li>
      </ul>
      <div class="logo">
        <span class="h2">Appeal<b>AI</b></span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer nz-flex nzJustify="center">
      <span>©2024</span>&nbsp;<a href="https://banksiaglobal.com/"> Banksia Global </a>. Professional services for
      InterSystems technologies.</nz-footer>
  </nz-layout>

</nz-layout>