nz-list {
  margin: 0 auto;
  margin-bottom: 10px;
}

.list-docs-item {
  display: flex;

  &__idx {
    margin-right: 5px;
  }
}

.delete-icon {
  position: relative;
  margin-left: 8px;
  padding: 3px;
  background: url("../../../assets/del.svg") no-repeat center;
}

.ant-list-empty-text {
  max-height: 100px;
  padding: 0;
}

nz-empty {
  margin: 0 0 !important;
}

@media screen and (max-width: 580px) {
  nz-list {
    min-width: 100%;
  }
}
