<nz-collapse>
    <nz-collapse-panel nzHeader="Documents" nzActive="true">
        <nz-list nzItemLayout="horizontal">
            <nz-list nzSize="small">
                @for (item of documentsList; track item; let i = $index) {
                <nz-list-item>
                    <div class="list-docs-item">
                        <div nz-typography> <b>{{i+1}}).&nbsp;</b>{{item.name}}</div>
                        <div class="bottom-side-item-cell">
                            <div nz-typography> {{ item.createdDateTime | date:"MMM dd, yy 'at' hh:mm a"}}</div>
                            <div class="delete-icon-basket" (click)="deleteInfoItem(item)"></div>
                        </div>
                    </div>
                </nz-list-item>
                }
                @if (documentsList?.length === 0) {
                <nz-list-empty />
                }
            </nz-list>

        </nz-list>
    </nz-collapse-panel>
</nz-collapse>