nz-list {
  max-width: 85%;
  margin: 0 auto;
}

.list-docs-item {
  display: flex;

  &__idx {
    margin-right: 5px;
  }
}

.delete-icon {
  margin-left: 8px;
  background: url("../../../assets/del.svg") no-repeat center;
}

.download-icon {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background: url("../../../assets/download.svg") no-repeat center;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  nz-list {
    min-width: 100%;
  }
}
