<div class="dialog-container">

</div>

<div class="dialog-container">
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Create a new one ></span></button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Adding a new package"
        [nzOkDisabled]="docsForm.invalid || packageName!== null" (nzOnCancel)="handleCancel()" (nzOnOk)="save()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="docsForm">
                <div class="package-box">
                    <nz-form-item>
                        <nz-form-label class="label-package">
                            Package name
                        </nz-form-label>
                        <input class="input-package" nz-input name="packageName" type="text" id="packageName" required
                            formControlName="name" placeholder={{packageName}} autofocus />
                    </nz-form-item>
                    <nz-form-item *ngIf="!packageName">
                        <nz-form-label class="label-package-description">
                            Description
                        </nz-form-label>
                        <input class="input-package-description" nz-input name="packageDescription" type="text"
                            id="packageDescription" formControlName="description" />
                    </nz-form-item>

                </div>
            </form>

        </ng-container>
    </nz-modal>
</div>