.list-companies-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--primary-color);

  &-name:hover {
    color: var(--hover-primary-color);
    cursor: pointer;
  }
}
