<nz-collapse class="collapse-panel" [nzBordered]="false">
    <nz-collapse-panel class="collapse-panel-title" nzHeader="Create a new one" [nzActive]="false">
        <div class="dialog-container">
            <div class="company-box">
                <nz-page-header-subtitle class="dialog-title" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
                    Enter a company name
                </nz-page-header-subtitle>
                <input class="input-company" nz-input name="companyName" type="text" id="companyName" required
                    placeholder={{companyName}} [(ngModel)]="newCompanyName" autoFocus autocomplete="off"
                    [disabled]="companyName !== null" />
                <div class="actions-popup-btn ">
                    <button nz-button nzType="primary" (click)="save()" [disabled]="!newCompanyName">Save</button>
                </div>
            </div>
        </div>
    </nz-collapse-panel>
</nz-collapse>