<div class="dialog-container">
    <div class="company-box">
        <nz-page-header-subtitle class="dialog-title" nz-flex [nzAlign]="'center'" [nzJustify]="'start'">
            Adding a new company
        </nz-page-header-subtitle>
        <input class="input-company" nz-input name="companyName" type="text" id="companyName" required
            placeholder="company name" [(ngModel)]="newCompanyName" autoFocus autocomplete="off" />
        <div class="actions-popup-btn ">
            <button nz-button nzType="primary" (click)="save()" [disabled]="!newCompanyName">Save</button>
        </div>

    </div>

</div>