<div class="dialog-container">
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Create a
            new one
            ></span></button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Adding a new company" [nzOkDisabled]="!newCompanyName"
        (nzOnCancel)="handleCancel()" (nzOnOk)="save()">
        <ng-container *nzModalContent>
            <div class="company-box">
                <input class="input-company" nz-input name="companyName" type="text" id="companyName" required
                    placeholder={{companyName}} [(ngModel)]="newCompanyName" autoFocus autocomplete="off"
                    [disabled]="companyName !== null" />
            </div>
        </ng-container>
    </nz-modal>
</div>