<div class="page">
    <div class="container-page">
        <nz-page-header-subtitle class="title" nz-flex [nzAlign]="'center'"
            [nzJustify]="'start'">Start</nz-page-header-subtitle>

        <form nz-form class="form" [nzLayout]="'vertical'" [formGroup]="documentsForm" (ngSubmit)="submitForm()">
            <div class="form-box" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select an insurance company" nzAllowClear formControlName="company">
                        <nz-option *ngFor=" let org of listInsuranceOrg" [nzValue]="org" [nzLabel]="org"></nz-option>
                    </nz-select>
                </nz-form-item>
                <nz-form-item>
                    <nz-select nzPlaceHolder="Select insurance packages" nzAllowClear formControlName="package">
                        <nz-option *ngFor="let package of packagesList" [nzValue]="package"
                            [nzLabel]="package"></nz-option>
                    </nz-select>
                </nz-form-item>
                <nz-form-item class="download" nz-button nzType="primary">
                    <label for="inputLetter">
                        <div class="btn-title">Add a letter</div>
                        <input type="file" id="inputLetter" (change)="addLetter($event)" formControlName="letter">
                    </label>
                </nz-form-item>
            </div>

            <div class="list-docs-box"
                *ngIf="documentsForm.value.company || documentsForm.value.package || documentsForm.value.letter">
                <!-- <div class="list-docs-box"> -->
                <h3 nz-typography>The List Docs:</h3>
                <div class="list-docs-item" *ngIf="documentsForm.value.company">
                    <h4 nz-typography>Company:
                        <span> {{documentsForm.value.company}}</span>
                    </h4>
                    @if (documentsForm.value.company) {
                    <div class="delete-icon" (click)="deleteInfoItem('company')"></div>
                    }
                </div>
                <div class="list-docs-item" *ngIf="documentsForm.value.package">
                    <h4 nz-typography> Insurance package:
                        <span>{{documentsForm.value.package}} </span>
                    </h4>
                    @if (documentsForm.value.package) {
                    <div class="delete-icon" (click)="deleteInfoItem('package')"></div>
                    }
                </div>
                <div class="list-docs-item letter-box" id="listDocsItem" *ngIf="documentsForm.value.letter">
                    <h4 nz-typography> Letter: </h4>
                    <div *ngFor="let file of selectedFiles, let i = index">
                        <span class="list-docs-letter"> {{ i + 1 }}.{{ file.name }}</span>
                    </div>
                    @if (documentsForm.value.letter) {
                    <div class="delete-icon" (click)="deleteInfoItem('letter')"></div>
                    }
                </div>
            </div>
            <div class="btn-box" nz-flex [nzAlign]="'center'">
                <button class="btn-submit" type="submit" nz-button nzType="primary" [disabled]="!documentsForm.valid">
                    Add
                </button>
            </div>
        </form>

    </div>
    ...
</div>