<app-letter-page-view [packagesList]="packagesList$ | async" [currentCompany]="currentCompany$ | async"
    (onSelectCompany)="onSelectCompany($event)" (onSelectPackage)="onSelectPackage($event)"
    (onUploadDenialLetter)="onUploadDenialLetter($event)" [listInsuranceOrg]="listInsuranceOrg$ | async"
    (deleteDocument)="deleteDocument($event)" (deleteLetter)="deleteLetter($event)"
    (deleteAnswerAI)="deleteAnswerAI($event)" (saveDocument)="saveDocument($event)" [isUploadDoc]="isUploadDoc$ |async"
    [documentsList]="documentsList$ | async" [listDenialLetters]="listDenialLetters$ | async"
    [listAnswersAI]="listAnswersAI$ | async" [listALLDenialLetters]="listALLDenialLetters$ | async"
    [listALLAnswersAI]="listALLAnswersAI$ | async" />